

/*------------------------------------------*/

.form {
	display: none;

	position: fixed;

	overflow: hidden;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	padding: 5vh 5vw;

	background: rgb(255, 255, 255, .975);

	z-index: 2;

	transition: .5s;

	text-align: center;
	justify-content: center;

	font-size: 300%;
}

.form.unvisible {
	display: block;

	opacity: 0;
}

.form.visible {
	display: block;

	opacity: 1;
}

#Form-I-want-to-learn {
	width: 100vw;
	height: auto;
}

.form .logo {
	position: relative;

	transition: .5s;

	font-size: 200%;
}

#close-Form-I-want {

	position: absolute;

	right: 8vw;

	top: -1vh;

	cursor: pointer;

	font-size: 200%;

	color: #000;
}

#close-Form-I-want:hover {
	color: #4eb7ec;
}

#close-Form-I-want:active {
	opacity: .8;
}

.form .boy {

	bottom: 5%;
	left: 5%;

	height: 0;
	width: 0;
}

.form input {
	margin-top: 1vh;
}