/*				main headers and paragraphs				*/

main h1 {
	font-size: 400%;

	color: #000;

	text-align: center;
	text-decoration: underline #4eb7ec;

	font-family: 'Roboto', sans-serif;
}

main p {
	font-size: 300%;
	
	margin-right: 4vw;
	margin-left: 4vw;
}

/*				About-us				*/

.left-img {
	width: 80vw;

	margin-right: 4vw;
	margin-left: 4vw;
}

.big-ben-with-flag {
	width: 80vw;
}

.bold-text {
	font-weight: 900;
}

/*				Bloks with pictures				*/

.center-pictures-block {
	position: relative;

	text-align: center;
	padding: 0;
}

.item-picture-block {
	overflow: hidden;

	margin-left: 1vw;
	margin-right: 1vw;
}

.item-picture-block p {
	color: rgb(1, 21, 168);

	font-size: 300%;

	font-weight: 900;
}

.children-pictures {
	width: 60vw;

	height: 0;
	
	transition: .6s;
}

.item-picture-block:hover .children-pictures  {
	height: 60vw;
}

#Courses img {
	width: 80vw;
}

#Courses .interactive-button {
	font-size: 300%;

	margin-top: 2vh;
	margin-bottom: 2vh;

	border: 3px solid rgb(1, 21, 168);
}

#Courses .interactive-button:not(:hover) {
	background: white;
}




/*				Gallery				*/

.gallery-container {
	display: block;

	margin: auto;

	margin-bottom: 4vh;

	width: 60%;

	overflow: hidden;

	position: relative;
}

/*				teacher-block				*/

.teacher-block{
	display: none;

	transition: .3s;
}

.teacher-block.unvisible {
	display: block;

	opacity: 0;
}

.teacher-block.visible {
	display: block;

	opacity: 1;
}

/*				Columns				*/

.gallery-container .left-block {
	text-align: center;

	display: block;
	justify-content: center;

	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.gallery-container img {
	width: 100%;
}

.gallery-container .right-block {
	text-align: center;

	display: block;
	justify-content: center;
}

.gallery-container .right-block p {
	text-align: start;
}

/*				Arrows				*/

.gallery-arrow {
	position: absolute;

	width: 7.5%;

	opacity: .5;

	transition: .6s;
}

.gallery-arrow:hover {
	opacity: 1;
}

.gallery-arrow:active {
	opacity: .7;
}

#arrow-left {
	top: 50%;
	left: 10%;
	transform: translate(-50%, -50%);
}

#arrow-right {
	top: 50%;
	right: 5%;
	transform: translate(-50%, -50%);
}







/*------------------------------------------*/

.youtube{
	width: 80vw;
	height: 50vw;

	padding-bottom: 30px;
}

