/*				#Start-page				*/

#Start-page {
	background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url(../../images/background.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	text-align: center;

	overflow: visible;
}

#head-activator {
	height: 0;
}

#I-want-to-learn-SP {
	display: inline-block;

	width: 86vw;

	font-size: 300%;
}

ul.start-contacts {
	list-style: none;

	margin: 0;
	margin-top: 2vh;
	padding: 0;
	padding-bottom: 2vh;

	font-size: 250%;
}

.start-contacts li a {
	list-style: none;
	
	color: rgb(1, 21, 168);
}